.login-block {
    margin: 20px auto;

}

.login-block .auth-box {
    margin: 20px auto 0;
    max-width: 650px !important
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff
}

.card .card-block {
	box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    padding: 30px;
}

.f-80 {
    font-size: 80px
}



.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 9px;
    background-color: #f0f0f0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}


.heading {
    font-size: 20px;
}

#infoMessage p {
    color: red !important
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}


.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: 1px solid #e3e0e087;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  background: #f0f0f0;
}

.img-profile-block {
    padding-top: 56px;
    margin-top: 20px;
}
.img-profile-block .footer{
    box-shadow: 0 -1px 9px 0 rgb(43 43 43 / 13%);
    padding: 16px 0px;
}
.img-profile-block .footer a{
    padding: 0px 9px;
    color: #105e79;
}
#change-password-form{
    display: none;
}